* {
    position: relative;
    /* border: 1px solid #000; */
    box-sizing: border-box;
}

body {
    margin: 0;
}


nav .nav {
    text-align: center;
    padding: 5px 25px;
    display: flex;
    justify-content: space-between;
}

nav .nav .nav-left a {
        padding: 0;
        text-decoration: none;
        color: #787878;
}
    
nav .nav .nav-left a:focus {
        color: #787878;
        text-decoration: none;
}
nav .nav .nav-right a {
    text-decoration: none;
    color: #787878;
}

nav .nav .nav-right a:focus {
    color: #787878;
    text-decoration: none;
}


nav .nav span {
    cursor: pointer;
    padding: 10px;
    color: #787878;
}

nav .nav .nav-left {
    display: flex;  
    align-items: center;

}

nav .nav .nav-right {
    display: flex;  
    align-items: center;

}

nav .nav .nav-left h2{
    margin-right: 10px;
}

header .img {
    height: 450px;
    background-image: url('./cover.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    /* z-index: -1; */
    color: white;
}
header .img::before {
    content: " ";
    display: block;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    pointer-events: none;

}   

header .img h3, header .img h4, header .img a { 
    position: absolute; 
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 5;
}

header .img h3 {
    font-size: 60px;
    top: 15%;
}

header .img h4 {
    font-size: 18px;
    top: 45%;
}

header .img a  {
    color: white;
    background-color: #7aB22F;
    padding: 10px 15px;
    top: 70%;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

header .img a span {
    color: white;
    background-color: #7aB22F;
    top: 70%;
    cursor: pointer;
}

section#body {
    display: flex;
    margin: 40px;
    /* justify-content: space-between; */
}

section#body section#articles {
    width: 60%;
    padding: 0px 30px 0px 0px;
}

section#body section#articles .article-list a {
    text-decoration: none;
    color: #787878;
}

section#body section#articles .article-list a:focus {
    color: #787878;
    text-decoration: none;
}

section#body section#articles .article-list a .article {
    padding: 10px 50px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    /* transition: 1.2s; */
}

section#body section#articles .article-list a .article hr {
    padding: 10px 0px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}



section#body section#articles .article-list a .article .article-type {
    font-size: 14px;
    color: #787878;  
}

section#body section#articles .article-list a .article .article-title {
    font-weight: bold;
    color: black;
    font-size: 24px;
    padding: 5px 0px;
}



section#body section#articles .article-list a .article .article-content {
    color: #787878;
    white-space: pre-line;
    word-break: break-word;
    line-height: 1.5;
    padding-bottom: 15px;
}

section#body section#articles .article-list a .article .article-create-at {
    color: #787878;
}

section#body section#articles .article-list a .article .article-host {
    /* margin-top: 10px; */
    color: black;
    font-weight: 800;
    font-size: 14px;
}


section#body section#popular-article{
    width: 20%;
    
}

section#body section#popular-article hr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}
section#body section#popular-article .popular-article-list {
    margin-top: 10px;
}
section#body section#popular-article .popular-article-list .popular-article {
    display: flex;
    font-weight: 400;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.5s;
}

section#body section#popular-article .popular-article-list .popular-article:hover {
    
    transform: translateY(-2%);
}

section#body section#popular-article .popular-article-list .popular-article .popular-article-id {
    color: rgba(0, 0, 0, 0.15);
    font-size: 36px;
    padding: 0px 10px;
    display: flex;
    align-items: top;

}
section#body section#popular-article .popular-article-list .popular-article .popular-article-infos {
    line-height: 1.5;
}

section#body section#popular-article .popular-article-list .popular-article .popular-article-infos .popular-article-title {
    font-weight: bold;
    font-size: 24px;
}
section#body section#popular-article .popular-article-list .popular-article .popular-article-infos {
    line-height: 2;
}

section#body section#popular-article .popular-article-list .popular-article .popular-article-infos .popular-article-host {
    font-size: 12px;
}


section#body section#popular-article .popular-article-list .popular-article .popular-article-infos .popular-article-create-at {
    color: rgba(0,0,0,.5);
}


.paginator-infos {
    text-align: center;
}

.paginator-infos .paginator {
    margin: 20px 0px;
}

.paginator-infos .paginator a{
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    color: black;
    text-decoration: none;
}

.paginator-infos .paginator a:focus {
    color: black;
    text-decoration: none;
}




footer {
    background: #323232;
    color: white;
    text-align: center;
    padding: 10px 0px; 
}